[submodule "submodules/tracr"]
	path = submodules/tracr
	url = git@github.com:google-deepmind/tracr.git
[submodule "submodules/Automatic-Circuit-Discovery"]
	path = submodules/Automatic-Circuit-Discovery
	url = git@github.com:ArthurConmy/Automatic-Circuit-Discovery.git
