[submodule "submodules/tracr"]
	path = submodules/tracr
	url = git@github.com:FlyingPumba/tracr.git
	ignore = untracked
[submodule "submodules/Automatic-Circuit-Discovery"]
	path = submodules/Automatic-Circuit-Discovery
	url = git@github.com:FlyingPumba/Automatic-Circuit-Discovery.git
	ignore = untracked
[submodule "submodules/iit"]
	path = submodules/iit
	url = git@github.com:tkwa/iit.git
	ignore = untracked