[submodule "submodules/tracr"]
	path = submodules/tracr
	url = https://github.com/FlyingPumba/tracr.git
	ignore = untracked
[submodule "submodules/Automatic-Circuit-Discovery"]
	path = submodules/Automatic-Circuit-Discovery
	url = https://github.com/FlyingPumba/Automatic-Circuit-Discovery.git
	ignore = untracked
[submodule "submodules/iit"]
	path = submodules/iit
	url = https://github.com/cybershiptrooper/iit.git
	ignore = untracked
